<div class="statusButtonsSection">
  <div class="mb-2 mt-2">
    <app-custom-button [color]="'#6da9df'" [text]="'picked up'"
    (btnClick)="setStatus('PICK_UP')">
    </app-custom-button>
  </div>
  <div class="mb-2 mt-2">
    <app-custom-button [color]="'#fa9c00'" [text]="'In-Transit'"
    (btnClick)="setStatus('IN_TRANSIT')">
    </app-custom-button>
  </div>
  <div class="mb-2 mt-2">
    <app-custom-button [color]="'#68aa49'" [text]="'Delivered'"
    (btnClick)="setStatus('DELIVERED')">
    </app-custom-button>
  </div>
  <div class="mb-2 mt-2">
    <app-custom-button [color]="'#e06665'" [text]="'Failed'"
    (btnClick)="setStatus('FAILED')">
    </app-custom-button>
  </div>
</div>
