<div class="statusButtonsSection">
  <div class="mb-2 mt-2">
    <app-custom-button [color]="'#6da9df'" [text]="'picked up'">
    </app-custom-button>
  </div>
  <div class="mb-2 mt-2">
    <app-custom-button [color]="'#fa9c00'" [text]="'In-Transit'">
    </app-custom-button>
  </div>
  <div class="mb-2 mt-2">
    <app-custom-button [color]="'#68aa49'" [text]="'Delivered'">
    </app-custom-button>
  </div>
  <div class="mb-2 mt-2">
    <app-custom-button [color]="'#e06665'" [text]="'Failed'">
    </app-custom-button>
  </div>
</div>
