<form>
  <app-item-search-bar
   (onBtnSearch)="getPackageId($event)"
   [placeholder]="placeholder"
   ></app-item-search-bar>
  <div class="flexContainer">
    <div class="deliveryDetailsSection">

      <div *ngIf="package;else empty_package">
        <p>Package Details</p>
        <app-package-item [packageItem]="package"></app-package-item>
      </div>
      <ng-template #empty_package>
        <div class="mt-2 mb-2">No package found</div>
      </ng-template>

      <div *ngIf="delivery;else empty_delivery">
        <p>Delivery Details</p>
        <app-delivery-item [deliveryItem]="delivery"></app-delivery-item>
      </div>
      <ng-template #empty_delivery>
        <div class="mt-2 mb-2">No delivery found</div>
      </ng-template>

    </div>
    <div class="mapSection">
      <ng-container *ngIf="package != undefined">
        <app-custom-map [packageItem]="package"></app-custom-map>
      </ng-container>
    </div>
  </div>
</form>
