<div class="w-75 m-2" style="background-color: blue;">
  <ul class="list-group">
    <li class="list-group-item">description: {{packageItem.description}}</li>
    <li class="list-group-item">weight: {{packageItem.weight}}</li>
    <li class="list-group-item">width: {{packageItem.width}}</li>
    <li class="list-group-item">height: {{packageItem.height}}</li>
    <li class="list-group-item">depth: {{packageItem.depth}}</li>
    <li class="list-group-item">from_name: {{packageItem.from_name}}</li>
    <li class="list-group-item">from_address: {{packageItem.from_address}}</li>
    <li class="list-group-item">to_name: {{packageItem.to_name}}</li>
    <li class="list-group-item">to_address: {{packageItem.to_address}}</li>
  </ul>
</div>
