/* You can add global styles to this file, and also import other style files */
html, body {
  margin: 0;
  height: 100%;
}

form {
  background-color: #fbe5cd;
  padding: 1rem;
  border: 1px solid #000;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.formInputSection {
  display: flex;
}
input {
  flex: 1;
  padding: 5px 10px;
}
.flexContainer {
  display: flex;
  margin-top: 12px;
  flex-direction: column;
  /* justify-content: space-between; */
}

.deliveryDetailsSection {
  width: 100%;
}

.mapSection {
  flex: 1;
  border: 1px solid #000;
  background-color: #cfe2f3;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100px;
  margin-right: 20px;
}
.statusButtonsSection {
  display: flex;
  justify-content: space-between;
  margin-left: 0px;
  margin-top: 20px;
  flex-wrap: wrap;
}
.statusButtonsSection button {
  display: block;
  margin-top: 10px;
}
.pickedUpBtn {
  background-color: #6da9df;
}
.inTransitBtn {
  background-color: #fa9c00;
}
.deliveredBtn {
  background-color: #68aa49;
}
.failedBtn {
  background-color: #e06665;
}
.submitBtn {
  background-color: #92c47d;
}
button {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

button {
  width: 100px;
  padding: 5px 10px;
}

.submitBtn {
  margin-left: 10px;
}

.empty {
  width: 100px;
  margin-left: 10px;
  display: none;
}

@media (min-width: 426px) {
  .flexContainer {
    flex-direction: row;
  }
  .deliveryDetailsSection {
    width: 18%;
  }
  .mapSection {
    min-height: 0px;
  }
  .empty {
    display: block;
  }
  .statusButtonsSection {
    margin-left: 10px;
    margin-top: 0px;
    flex-direction: column;
  }
  .statusButtonsSection button {
    margin-top: 0px;
  }
}
