<form>
  <app-item-search-bar
   (onBtnSearch)="getDeliveryId($event)"
   [placeholder]="placeholder"
   ></app-item-search-bar>
  <div class="flexContainer">
    <div class="deliveryDetailsSection">

      <div *ngIf="package;else empty_package">
        <p>Package Details</p>
        <app-package-item [packageItem]="package"></app-package-item>
      </div>
      <ng-template #empty_package>
        <div class="">No package found</div>
      </ng-template>

      <div *ngIf="delivery;else empty_delivery">
        <p>Delivery Details</p>
        <app-delivery-item [deliveryItem]="delivery"></app-delivery-item>
      </div>
      <ng-template #empty_delivery>
        <div class="">No delivery found</div>
      </ng-template>

    </div>
    <div class="mapSection">
      <ng-container *ngIf="package != undefined">
        <app-custom-map [packageItem]="package"></app-custom-map>
      </ng-container>
    </div>
    <div class="statusButtonsSection">
      <div class="mb-2 mt-2">
        <app-custom-button [color]="'blue'" [text]="'picked up'">
        </app-custom-button>
      </div>
      <div class="mb-2 mt-2">
        <app-custom-button [color]="'brown'" [text]="'In-Transit'">
        </app-custom-button>
      </div>
      <div class="mb-2 mt-2">
        <app-custom-button [color]="'green'" [text]="'Delivered'">
        </app-custom-button>
      </div>
      <div class="mb-2 mt-2">
        <app-custom-button [color]="'red'" [text]="'Failed'">
        </app-custom-button>
      </div>
      <!-- <button class="pickedUpBtn">picked up</button>
      <button class="inTransitBtn">In-Transit</button
      ><button class="deliveredBtn">Delivered</button
      ><button class="failedBtn">Failed</button> -->
    </div>
  </div>
</form>
